# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env

# Supabase local config
supabase/config.toml
supabase/dump.sql
liste_fonctionnalite.md
RAPPORT_AUDIT_IMPLEMENTATION.md
user.md
data.txt
